/* Estilos para index */

.clase_body {
		background-color: rgb(210, 240, 250);
		margin: 0px;
		font-family: verdana, sans-serif;
		
	}
.estilo_titulo_01 {
	text-align: center;
}
.estilo_subtitulo_01 {
	margin-left: 10%;
}
.estilo_header_01 {
	background-color: rgb(65, 80, 75);
	color: rgb(220, 230, 240);
	padding: 5px;
}
.estilo_nav_01 {
	background-color: rgb(120, 130, 100);		
	padding: 10px;
}
.div_nav_01 {
	background-color: rgb(190, 200, 180);
	padding-left: 5%;
	padding-right: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;		
	column-gap: 5px;
}
.div_nav_01 p {
	background-color: rgb(230, 230, 210);
	text-align: center;
	font-size: 1.1rem;
	padding: 2px;
	border: 1px solid black;
}	
	
.estilo_section_01 {
	background-color: rgb(220, 235, 210);
	margin: 5px;
	padding: 10px;
}
.estilo_article_01 {
	background-color: rgb(230, 240, 245);
	padding: 10px;
	border-radius: 20px;
}
.parrafo_article {
	color: rgb(40, 55, 60);
	font-size: 1.1rem;
}
	
.estilo_footer_01 {
	background-color: rgb(65, 80, 75);
	color: rgb(220, 230, 240);
	padding: 10px;
}
		
		